/*
 * ImageCrawler
 *
 * https://github.com/jaylinski/imagecrawler
 * 
 * Last update: 09.08.2014
 */

body {
	font-family: Verdana, Arial, sans-serif;
	color: #333;
	margin: 0;
}

input[type="button"],
input[type="submit"] {
	font-size: 10px;
	color: #222;
	padding: 2px 6px;
}
input[type="text"] {
	width: 70px;
	border: 1px solid #ddd;
	padding: 3px;
	display: inline-block;
	margin-right: 5px;
}
input[type="text"]:hover {
	border-color: #bbb;
}
input[type="checkbox"] {
	vertical-align: middle;
}
input#url {
	width: 200px;
	background-repeat: no-repeat;
	background-position: 5px 50%;
}
input#url.active {
	background-image: url('../img/ajax_loader.gif');
	padding-left: 25px;
	width: 178px;
}

abbr {
	cursor: help;
}

h1, label {
	font-size: 10px;
}

#ui > div {
	position: fixed;
	left: 0;
	background: rgba(255,255,255,0.8);
	background-image: url('../img/ui-bg.png');
	background-repeat: repeat;
	width: 100%;
	z-index: 10;
}
#ui > div > div {
	padding: 10px;
}
#ui-top {
	top: 0;
	border-bottom: 1px solid #ccc;
}
#ui-bottom {
	bottom: 0;
	border-top: 1px solid #ccc;
}
.ui-left {
	float: left;
}
.ui-left.hide {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	margin-top: 10px;
	width: 100%;
}

.ui-right {
	float: right;
}
.ui-left #show-extended-options {
	display: inline-block;
	height: 24px;
	width: 30px;
	background: transparent url('../img/options.png') scroll no-repeat right 0;
	vertical-align: middle;
}

#status {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 0;
	background: rgba(34, 170, 34, 0.6);
	z-index: 9;
}

#help {
	display: none;
	margin: 60px 0 10px 10px;
	padding: 0 20px;
	border-left: 5px solid #dddd22; 
}

#noscript p {
	color: #ee2222;
	margin: 60px 0 10px 10px;
}

#content {
	display: none;
	height: 80%;
	position: fixed;
	right: 10px;
	top: 60px;
}
#content iframe {
	background-color: #fff;
	border: none;
	border-left: 1px solid #ccc;
	height: 100%;
}

#preview {
	position: fixed;
	right: 10px;
	top: 60px;
}
#preview img {
	position: relative;
	display: block;
	margin-bottom: 10px;
	top: -500px;
	float: right;
}

#output {
	margin: 60px 0 60px 10px;
}
#output a {
	color: #22aa22;
}
#output a:hover {
	color: #000;
}
#output .error a {
	color: inherit;
}

.success {
	color: #22aa22;
}
.error {
	color: #aa2222;
}
.warning {
	color: #ee8000;
}
.debug {
	color: #aa2222;
	font-weight: bold;
	border-bottom: 1px dotted #666;
}
.hide {
	display: none;
}
.clear {
	clear: both;
}